{% extends "layout.html" %}
{% block content %}
  <h1>{{ heading_1 }}</h1>
  
  {% for l in all_log %}
    <p>{{l.log}}：（{{l.date}}）</p>
  {% endfor %}

  <p id="logTitle"></p>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function() {
          setInterval(function(){
            $.ajax({
              url: '{{ url_for('log') }}',
              contentType: 'application/json;charset=UTF-8',
              type: 'POST'
            }).done(function(data){
              console.log(data);
              document.getElementById("logTitle").innerText = data.value;
            }).fail(function(){
              console.log('fail');
            });
          }, 1000);
        });
    </script>
{% endblock scripts %}
